<nav>
  <a href="/admin">Admin Panel</a>
  <a href="/admin/add_user">Add User</a>
  <a href="/admin/remove_upload">Remove Upload</a>
  <a href="/admin/remove_user">Remove User</a>
  <a href="/admin/uploaded_list">Uploaded List</a>
  <a href="/admin/users_logged_in">Users Logged In</a>
  <a href="/logout">Logout</a>
</nav>
<nav>
  <a href="/admin">Admin Panel</a>
  <a href="/admin/add_user">Add User</a>
  <a href="/admin/remove_upload">Remove Upload</a>
  <a href="/admin/remove_user">Remove User</a>
  <a href="/admin/uploaded_list">Uploaded List</a>
  <a href="/admin/users_logged_in">Users Logged In</a>
  <a href="/logout">Logout</a>
</nav>
